

<main>
    <section  class="container seccionDonacion">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-bordered">
                                <div class="card-header">
                                    <h4 class="card-title"><strong>Chat</strong></h4>
                                </div>


                                <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                                        {{!-- <div class="media media-chat">
                                        <div class="media-body">
                                            <p> <span class="text-dark">dasdsa: </span>Hi</p>

                                            <p class="meta"><time datetime="2018">23:58</time></p>
                                        </div>
                                        </div> --}}

                                    {{!-- 
                                        <div class="media media-chat">
                                        <div class="media-body">
                                            <p>Okay</p>
                                            <p>We will go on sunday? </p>
                                            <p class="meta"><time datetime="2018">00:07</time></p>
                                        </div>
                                        </div>

                                        <div class="media media-chat media-chat-reverse">
                                        <div class="media-body">
                                            <p>That's awesome!</p>
                                            <p>I will meet you Sandon Square sharp at 10 AM</p>
                                            <p>Is that okay?</p>
                                            <p class="meta"><time datetime="2018">00:09</time></p>
                                        </div>
                                        </div>

                                        <div class="media media-chat">
                                        <div class="media-body">
                                            <p>Okay i will meet you on Sandon Square </p>
                                            <p class="meta"><time datetime="2018">00:10</time></p>
                                        </div>
                                        </div>

                                        <div class="media media-chat media-chat-reverse">
                                        <div class="media-body">
                                            <p>Do you have pictures of Matley Marriage?</p>
                                            <p class="meta"><time datetime="2018">00:10</time></p>
                                        </div>
                                        </div>

                                        <div class="media media-chat">
                                        <div class="media-body">
                                            <p>Sorry I don't have. i changed my phone.</p>
                                            <p class="meta"><time datetime="2018">00:12</time></p>
                                        </div>
                                        </div>

                                        <div class="media media-chat media-chat-reverse">
                                        <div class="media-body">
                                            <p>Okay then see you on sunday!!</p>
                                            <p class="meta"><time datetime="2018">00:12</time></p>
                                        </div>
                                        </div> --}}

                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">

                                        </div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;">

                                        </div>
                                    </div>
                                </div>

                                <div class="publisher bt-1 border-light">
                                    <input id="inputName" class="publisher-input readonly " style="max-width: 70px" type="text" placeholder="Nombre" value="{{user.firstname}}" readonly>

                                    <input id="inputMessage" class="publisher-input" type="text" placeholder="Ingrese mensaje">

                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> 
<script src="/socket.io/socket.io.js"></script>
<script src="/static/script/index.js" ></script>
<script src="/static/script/chat.js" defer></script>
<!-- includes de handlebars -->