

<main>
    <section  class="container seccionDonacion">
        <h3>Hasta luego, {{firstname}}</h3>
        <a href="/">Ir a inicio</a>   
    </section>
</main> 
<script src="/socket.io/socket.io.js"></script>
<!-- includes de handlebars -->