 <main class="">
        <section class="container  align-content-center flex-lg-row justify-content-lg-between gap-5 w-50">
            <form class="formClass needs-validation formMap" >
                <h1 class="container mb-3">Cambiar Contraseña</h1>
                <div class="formClass__fila">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control focusColor" name="user" id="email" placeholder="email" required>
                        <label for="email">User (email)</label>
                    </div>
                    <div class="formClass__fila">
                        <div class="col-12">
                            <button class="btn btn-primary botonPersonalizado mt-2" onclick="enviarMail()">Enviarme Correo</button>
                        </div>
                    </div>
                </div>
            </form> 
        </section>
    </main> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/script/index.js"></script>

